<!DOCTYPE html>
<html>
  <head>
    <title>ReactRailsExample</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_pack_tag 'vendor' %>
  <%= javascript_pack_tag 'application' %>
</html>
